#auction_radios * {
    /* I want radio buttons on the same line
    so I'm overriding display: block for form elements
    within auction_radios*/
    display: inline;
}

#employee_id {
    width: 150px;
}

#add_new_problem_button {
    margin-top: 15px;
}